{% extends "_layout" %}

{% block content %}

<section class="hero">
	<div class="container">
		<span class="l-title">Service</span>
		<h1 class="">{{ entry.title }}</h1>
		<div class="">
			{{ entry.descriptionSolution }}
		</div>



	</div>
</section>

{% endblock %}